.TaskBody {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  color: #333;
}

.Task {
  margin: 0;
  display: flex;
}

.CheckBox {
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.Task p {
  margin: 0;
}

.TaskFinished {
  color: #aaa;
}

.TaskFinished p {
  text-decoration: line-through;
}

.RemoveButton {
  border: none;
  outline: none;
  background-color: firebrick;
  color: #fff;
  font-weight: bold;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}