.Modal {
  width: 30%;
  min-height: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ModalTop {
  display: flex;
  justify-content: space-between;
}

.ModalTitle {
  margin: 0;
  font-size: 20px;
}

.ModalCloseButton {
  border: none;
  background-color: darkgrey;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}