.AddTaskForm {
  height: 30px;
  display: flex;
  column-gap: 20px;
}

.TaskFormInput {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 10px;
}

.TaskFormButton {
  width: 100px;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.TaskFormButton:disabled {
  background-color: #1e90ff60;
}